html{
    margin: 0;
    width: 100%;
    height: 100%;
}
body{
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}
.on_loading{
    position: fixed;
    width: 100%;
    height:100%;
    background: #000;
    top:0;
    left:0;
    z-index: 8000;
}
.on_loading_icon{
    position: fixed;
    left:50%;
    top:50%;
    background: url(../images/loading_icon.gif);
    width:32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}
.atw_video_container{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 2000;
}
.video_player{
    position: absolute;
    z-index: 2;
    left:50%;
    top:50%;
    width:1280px;
    height: 720px;
    margin-left: -640px;
    margin-top: -360px;
}
.video_base{
    position: absolute;
    z-index: 1;
    left:50%;
    top:50%;
    width:1280px;
    height: 720px;
    margin-left: -640px;
    margin-top: -360px;
    border: 1px solid rgba(255,255,255,.2);
}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0,0,0,.9);
    left:0;
    top:0;
}
#logo{
    position: fixed;
    z-index: 100;
    top:20px;
    left:20px;
    background: url(../images/logo.png);
    width: 158px;
    height: 49px;
}
.scroll_block{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: #fff;
}

/** scroll button **/
.scroll_btn{
    width: 41px;
    margin-left: -20px;
    height: 60px;
    cursor: pointer;
}

.scroll_btn > .scroll_text{
    position: absolute;
    background: url(../images/scroll_text.png);
    width: 41px;
    height: 12px;
}
.scroll_btn > .scroll_arrow{
    position: absolute;
    background: url(../images/scroll_arrow.png);
    width: 41px;
    height: 27px;
    top:16px;

}

#index_block > .scroll_btn{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: 100px;
    z-index: 101;
}

body > .scroll_btn{
    position: fixed;
    bottom:30px;
    left:50%;
    z-index: 1000;
}

/** right menu **/
#right_menu{
    position: fixed;
    height: 100%;
    background: url(../images/menu_bg.png) repeat-y;
    width: 112px;
    z-index: 100;
    right:0;
}
#right_menu > .group{
    position: fixed;
    right:0;
    top:50%;
    width: 96px;
    margin-top: -231px;
}
#right_menu > .group > .menu_button{
    position: relative;
    float: left;
    width: 100px;
    height:30px;
    margin-top: 6px;
    margin-bottom: 6px;
    color:#ccc;

    /*
    background:#333;
    border-top: #555 1px solid;
    border-bottom: #111 1px solid;
    */
    cursor: pointer;
}

#right_menu > .group > .menu_button:nth-of-type(1){
    background:url(../images/menu_main.png) 0 0 no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(1):hover{
    background-position: -115px 0;
}

#right_menu > .group > .menu_button:nth-of-type(2){
    background:url(../images/menu_main.png) 0 -42px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(2):hover{
    background-position: -115px -42px;
}

#right_menu > .group > .menu_button:nth-of-type(3){
    background:url(../images/menu_main.png) 0 -84px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(3):hover{
    background-position: -115px -84px;
}

#right_menu > .group > .menu_button:nth-of-type(4){
    background:url(../images/menu_main.png) 0 -126px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(4):hover{
    background-position: -115px -126px;
}

#right_menu > .group > .menu_button:nth-of-type(5){
    background:url(../images/menu_main.png) 0 -168px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(5):hover{
    background-position: -115px -168px;
}

#right_menu > .group > .menu_button:nth-of-type(6){
    background:url(../images/menu_main.png) 0 -210px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(6):hover{
    background-position: -115px -210px;
}

#right_menu > .group > .menu_button:nth-of-type(7){
    background:url(../images/menu_main.png) 0 -252px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(7):hover{
    background-position: -115px -252px;
}

#right_menu > .group > .menu_button:nth-of-type(8){
    background:url(../images/menu_main.png) 0 -294px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(8):hover{
    background-position: -115px -294px;
}

#right_menu > .group > .menu_button:nth-of-type(9){
    background:url(../images/menu_main.png) 0 -336px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(9):hover{
    background-position: -115px -336px;
}

#right_menu > .group > .menu_button:nth-of-type(10){
    background:url(../images/menu_main.png) 0 -378px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(10):hover{
    background-position: -115px -378px;
}

#right_menu > .group > .menu_button:nth-of-type(11){
    background:url(../images/menu_main.png) 0 -420px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(11):hover{
    background-position: -115px -420px;
}

#right_menu > .group > .menu_button:active{
    /*border-top: #555 2px solid;*/
    /*border-bottom: #111 0 solid;*/
}

/** index **/
#index_fix_block{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
#index_fix_block > .left_block_0{
    position: absolute;
    width:50%;
    height: 100%;
    /*background: url(../images/index_left_0.jpg) bottom center;*/
    /*background-size: cover;*/
    z-index: 0;
    bottom: 0;
    overflow: hidden;
}
#index_fix_block > .left_block_1{
    position: absolute;
    width:50%;
    height: 100%;
    /*background: url(../images/index_left_1.jpg) bottom center;*/
    /*background-size: cover;*/
    z-index: 1;
    bottom: 0;
    overflow: hidden;
}
#index_fix_block .right_block_0 {
    position: absolute;
    width:50%;
    height: 100%;
    left: 50%;
    /*background: url(../images/index_right_0.jpg) top center;*/
    /*background-size: cover;*/
    z-index: 0;
    top: 0;
    overflow: hidden;
}
#index_fix_block .right_block_1 {
    position: absolute;
    width:50%;
    height: 100%;
    left: 50%;
    /*background: url(../images/index_right_1.jpg) top center;*/
    /*background-size: cover;*/
    z-index: 1;
    top:0;
    overflow: hidden;
}
#index_fix_block img{
    position: absolute;
}
#index_block{
    /*background: rgba(55,0,0,.5);*/
}
#index_block > .index_text{
    position: absolute;
    left: 50%;
    top:50%;
    width: 400px;
    height:116px;
    background: url(../images/index_text_0.png);
    margin-left: -200px;
    margin-top: -58px;
}

/** brand **/
#brand_block{
    background: #000;
    height: 1330px;
}
#brand_block > .brand{
    position: absolute;
    background: url(../images/brand.jpg);
    width: 1700px;
    height: 1099px;
    left:50%;
    margin-left: -850px;
}

/** atw **/
#atw_block{
    background: #000;
    /*height: 1149px;*/
    height: 1249px;
}
#atw_block > .atw{
    position: absolute;
    background: url(../images/ATW.jpg);
    width: 1700px;
    height: 744px;
    left:50%;
    margin-left: -850px;
    top:380px;
}

/** feature **/
#feature_block{
    background: rgba(0,0,55,1);
}
#feature_block > .feature_block{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
#feature_block > .feature_block:nth-of-type(1){
    background: url(../images/product_01.jpg) center center;
    background-size: cover;
    visibility: visible;
}
#feature_block > .feature_block:nth-of-type(2){
    background: url(../images/product_02.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(3){
    background: url(../images/product_03.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(4){
    background: url(../images/product_04.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(5){
    background: url(../images/product_05.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(6){
    background: url(../images/product_06.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(7){
    background: url(../images/product_07.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(8){
    background: url(../images/product_08.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(9){
    background: url(../images/product_09.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(10){
    background: url(../images/product_10.jpg) center center;
    background-size: cover;
}

.feature_menu{
    position: absolute;
    left:50%;
    margin-left: -225px;
    bottom: 25px;
}
.feature_btn{
    position: relative;
    width: 39px;
    height: 37px;
    float: left;
    /*
    background: #aaa;
    border: 1px solid #fff;
    */
    margin-right: 7px;
    cursor: pointer;

    background:url(../images/product_menu_all.png) no-repeat;
}
/*
.feature_btn.focused{
    border: 1px solid #000;
}
*/
.feature_btn:nth-of-type(1){
    background-position: 0 0;
}
.feature_btn:nth-of-type(1):hover, .feature_btn:nth-of-type(1).focused{
    background-position: 0 -46px;
}

.feature_btn:nth-of-type(2){
    background-position: -44px 0;
}
.feature_btn:nth-of-type(2):hover, .feature_btn:nth-of-type(2).focused{
    background-position: -44px -46px;
}

.feature_btn:nth-of-type(3){
    background-position: -88px 0;
}
.feature_btn:nth-of-type(3):hover, .feature_btn:nth-of-type(3).focused{
    background-position: -88px -46px;
}

.feature_btn:nth-of-type(4){
    background-position: -132px 0;
}
.feature_btn:nth-of-type(4):hover, .feature_btn:nth-of-type(4).focused{
    background-position: -132px -46px;
}

.feature_btn:nth-of-type(5){
    background-position: -176px 0;
}
.feature_btn:nth-of-type(5):hover, .feature_btn:nth-of-type(5).focused{
    background-position: -176px -46px;
}

.feature_btn:nth-of-type(6){
    background-position: -220px 0;
}
.feature_btn:nth-of-type(6):hover, .feature_btn:nth-of-type(6).focused{
    background-position: -220px -46px;
}

.feature_btn:nth-of-type(7){
    background-position: -264px 0;
}
.feature_btn:nth-of-type(7):hover, .feature_btn:nth-of-type(7).focused{
    background-position: -264px -46px;
}

.feature_btn:nth-of-type(8){
    background-position: -308px 0;
}
.feature_btn:nth-of-type(8):hover, .feature_btn:nth-of-type(8).focused{
    background-position: -308px -46px;
}

.feature_btn:nth-of-type(9){
    background-position: -352px 0;
}
.feature_btn:nth-of-type(9):hover, .feature_btn:nth-of-type(9).focused{
    background-position: -352px -46px;
}

.feature_btn:nth-of-type(10){
    background-position: -396px 0;
}
.feature_btn:nth-of-type(10):hover, .feature_btn:nth-of-type(10).focused{
    background-position: -396px -46px;
}

/** spec **/
#spec_block{
    background: url(../images/spec.jpg) center center;
    background-size: cover;
    /*
    width: 2400px;
    height: 1300px;
    left:50%;
    top:50%;
    margin-left: -1200px;
    margin-top: -650px;
    */
    width: 100%;
    height: 100%;
}
.spec_content{
    position: absolute;
    background: url(../images/spec_table.png);
    width: 785px;
    height: 356px;
    top:50%;
    left:50%;
    margin-left: -392px;
    margin-top: -178px;
}

/** color **/
#color_block{
    background: #000;
}
.color_white_shadow{
    position: absolute;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,.2)); /* Standard syntax (must be last) */
    height: 100%;
    width: 0;
    right:500px;
    z-index: 11;
}
.color_black_shadow{
    position: absolute;
    background: linear-gradient(to right, rgba(255,255,255,.2), rgba(255,255,255,0)); /* Standard syntax (must be last) */
    height: 100%;
    width: 0;
    left:500px;
    z-index: 11;
}
.color_title{
    position: absolute;
    z-index: 12;
    /*
    background: url(../images/color_tit.png);
    background-size: cover;
    */
    width: 587px;
    height: 81px;
    top:50%;
    margin-top: -280px;
    left: 30px;
}
.moto_white{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    overflow: hidden;
    /*background: #eee;*/
}
.moto_white > img{
    position: absolute;
}
.moto_black{
    position: absolute;
    width: 100%;
    height: 100%;
    right:0;
    overflow: hidden;
    /*background: #222;*/
}
.moto_black > img{
    position: absolute;
}

/** watch **/
#watch_block{
    background: #000;
}
.watch_title{
    position: absolute;
    top:50%;
    left:100px;
    margin-top: -250px;
    width: 587px;
    height: 84px;
    z-index: 10;
}
.watch_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.watch_content:nth-of-type(1){
    background: url(../images/360_01.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(2){
    background: url(../images/360_02.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(3){
    background: url(../images/360_03.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(4){
    background: url(../images/360_04.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(5){
    background: url(../images/360_05.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(6){
    background: url(../images/360_06.jpg) center center;
    background-size: cover;
}

/** info **/
#info_block{
    background: #000;
    height: 4200px;
}
.info_image_1{
    position: absolute;
    background: url(../images/info_image_1.jpg);
    width: 1200px;
    height: 447px;
    left:50%;
    top:10px;
    margin-left: -600px;
}
.info_image_2{
    position: absolute;
    background: url(../images/info_image_2.png);
    width: 129px;
    height: 34px;
    left:50%;
    top:420px;
    margin-left: -481px;

}
.info_table{
    position: absolute;
    width: 757px;
    height: auto;
    /*background-color: #f00;*/
    top:426px;
    left:50%;
    margin-left: -300px;
}
.info_city_block, .info_1, .info_2, .info_3{
    position: relative;
    float: left;
    height:38px;
    margin-top: 3px;

    font-family: '微軟正黑體', serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 34px;

}
.info_1, .info_2, .info_3{
    background: #1b1b1b;
    text-align: left;
    text-indent: 30px;

}
.info_city_block{
    width: 100%;
    background: #313131;
    text-align: center;
}
.info_1{
    width: 195px;
}
.info_2{
    width: 195px;
    margin-left: 3px;

}
.info_3{
    width: 361px;
    margin-left: 3px;

}


/** CF **/
#cf_block{
    background: #000;
}


/** sign **/
#sign_block{
    background: #000;
}
.form_container{
    position: absolute;
    z-index: 11;
    top:50%;
    left:50%;
    width: 600px;
    height: 650px;
    margin-left: -300px;
    margin-top:-325px;
    /*border: 1px #777 solid;*/
}
.sign_title{
    position: absolute;
    background: url(../images/sign_title.png);
    width: 533px;
    height: 45px;
    top:35px;
    left:50%;
    margin-left:-266px;
}
.sign_main_text{
    position: absolute;
    left:50%;
    background:url(../images/sign_main_text.png);
    width: 578px;
    height: 406px;
    top:110px;
    margin-left: -289px;
}
.sign_btn_send{
    position: absolute;
    background: url(../images/sign_btn_send.png) 0 75px;
    width: 187px;
    height: 75px;
    bottom:30px;
    left:50%;
    margin-left: -93px;
    cursor: pointer;
}
.sign_btn_send:hover{
    background-position: 0 0;
}
.sign_btn_send:active{
    margin-bottom: -1px;
}
.sign_shadow{
    position: absolute;
    background:url(../images/sign_shadow.png) no-repeat;
    width:100%;
    height: 217px;
    bottom: 0;
    background-size: 100% 217px;
}
.sign_moto{
    position: absolute;
    background: url(../images/sign_moto.png);
    width: 262px;
    height: 272px;

    bottom:30px;
    left:50%;
    margin-left: 270px;
}

/* fields */
.input_style{
    width: 150px;
    height: 18px;
    background:rgba(255, 255, 255, .15);
    border: none;
    font-family: '微軟正黑體', serif;
    font-size: 12px;
    color: #ffffff;
}
.form_input_select{
    height: 20px;
    width: 79px;
    padding-left: 8px;
    border: none;
    /*background-color: rgba(255, 255, 255, .15);*/

    /* Standard syntax (must be last) */
    background: #000 linear-gradient(#444, #111);

    cursor: pointer;

    color:#999;
}
#sign_field_name{
    position: absolute;
    top:210px;
    left:50px;
    width: 92px;
}
#sign_field_pid{
    position: absolute;
    top:210px;
    left:245px;
    width: 123px;
}
#sign_field_phone{
    position: absolute;
    top:244px;
    left:83px;
    width: 180px;
}
#sign_field_email{
    position: absolute;
    top:244px;
    left:342px;
    width: 245px;
}
#sign_field_year{
    position: absolute;
    top:210px;
    left:425px;
    width: 63px;
}
#sign_field_month{
    position: absolute;
    top:210px;
    left:490px;
    width: 48px;
}
#sign_field_day{
    position: absolute;
    top:210px;
    left:540px;
    width: 48px;
}
#sign_field_event{
    position: absolute;
    top:278px;
    left:83px;
    width: 200px;
}
#sign_field_time{
    position: absolute;
    top:278px;
    left:373px;
    width: 130px;
}
#sign_licence_yes{
    position: absolute;
    top:298px;
    left:187px;
    width: 130px;
}
#sign_licence_no{
    position: absolute;
    top:298px;
    left:228px;
    width: 130px;
}
#sign_friend_yes{
    position: absolute;
    top:347px;
    left:136px;
    width: 130px;
}
#sign_friend_no{
    position: absolute;
    top:347px;
    left:177px;
    width: 130px;
}
.sign_more_text{
    position: absolute;
    background: url(../images/sign_more_text.png);
    width: 152px;
    height: 13px;
    top:362px;
    left:230px;

    display: none;
}
#sign_field_type{
    position: absolute;
    top:359px;
    left:394px;
    width: 120px;

    display: none;
}

/** misc **/
.particle_0{
    position: fixed;
    z-index: 3001;
    background: url(../images/particle_0.png);
    width: 35px;
    height: 37px;
}
.particle_1{
    position: fixed;
    z-index: 3001;
    background: url(../images/particle_1.png);
    width: 34px;
    height: 35px;
}
.top_flash{
    position: fixed;
    top:0;
    left:0;
    height: 0;
    width: 100%;

    background: linear-gradient(to bottom, rgba(255,255,255,.2), rgba(255,255,255,.0)); /* Standard syntax (must be last) */

    z-index: 3000;

}
.bottom_flash{
    position: fixed;
    bottom:0;
    left:0;
    height: 0;
    width: 100%;

    background: linear-gradient(to top, rgba(255,255,255,.2), rgba(255,255,255,.0)); /* Standard syntax (must be last) */

    z-index: 3000;

}

