html{
    margin: 0;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    background: #000;
}
body{
    top:0;
    left:0;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}
.debug_block{
    position: fixed;
    top:0;
    background: rgba(0,0,0,.8);
    width: 100%;
    height:30px;
    color:#fff;
    z-index: 8000;
    left:0;
    display: none;
}

.on_loading{
    position: fixed;
    width: 100%;
    height:100%;
    background: #000;
    top:0;
    left:0;
    z-index: 8000;
    /*display: none;*/
}
.on_loading_icon{
    position: fixed;
    left:50%;
    top:50%;
    background: url(../images/loading_icon.gif);
    width:32px;
    height: 32px;
    margin-left: -16px;
    margin-top: -16px;
}
.atw_video_container{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 2000;
}
.video_player{
    position: absolute;
    z-index: 2;
    left:50%;
    top:50%;
    width:1280px;
    height: 720px;
    margin-left: -640px;
    margin-top: -360px;
}
.video_base{
    position: absolute;
    z-index: 1;
    left:50%;
    top:50%;
    width:1280px;
    height: 720px;
    margin-left: -640px;
    margin-top: -360px;
    border: 1px solid rgba(255,255,255,.2);
}
.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0,0,0,.9);
    left:0;
    top:0;
}
#logo{
    position: fixed;
    z-index: 100;
    top:20px;
    left:20px;
    background: url(../images/logo.png);
    width: 158px;
    height: 49px;
    cursor: pointer;
}
.scroll_block{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: #fff;
    overflow: hidden;
}

/** scroll button **/
.scroll_btn{
    width: 41px;
    margin-left: -20px;
    height: 60px;
    cursor: pointer;
}

.scroll_btn > .scroll_text{
    position: absolute;
    background: url(../images/scroll_text.png);
    width: 41px;
    height: 12px;
}
.scroll_btn > .scroll_arrow{
    position: absolute;
    background: url(../images/scroll_arrow.png);
    width: 41px;
    height: 27px;
    top:16px;

}

#index_block > .scroll_btn{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: 100px;
    z-index: 101;
}

body > .scroll_btn{
    position: fixed;
    bottom:30px;
    left:50%;
    z-index: 1000;
}

/** right menu **/
#right_menu{
    position: fixed;
    height: 100%;
    background: url(../images/menu_bg.png) repeat-y;
    width: 112px;
    z-index: 100;
    right:0;
}
#right_menu > .group{
    position: fixed;
    right:0;
    top:50%;
    width: 96px;
    margin-top: -231px;
}
#right_menu > .group > .menu_button{
    position: relative;
    float: left;
    width: 100px;
    height:30px;
    margin-top: 6px;
    margin-bottom: 6px;
    color:#ccc;

    /*
    background:#333;
    border-top: #555 1px solid;
    border-bottom: #111 1px solid;
    */
    cursor: pointer;
}

#right_menu > .group > .menu_button:nth-of-type(1){
    background:url(../images/menu_main.png) 0 0 no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(1):hover{
    background-position: -115px 0;
}

#right_menu > .group > .menu_button:nth-of-type(2){
    background:url(../images/menu_main.png) 0 -42px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(2):hover{
    background-position: -115px -42px;
}

#right_menu > .group > .menu_button:nth-of-type(3){
    background:url(../images/menu_main.png) 0 -84px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(3):hover{
    background-position: -115px -84px;
}

#right_menu > .group > .menu_button:nth-of-type(4){
    background:url(../images/menu_main.png) 0 -126px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(4):hover{
    background-position: -115px -126px;
}

#right_menu > .group > .menu_button:nth-of-type(5){
    background:url(../images/menu_main.png) 0 -168px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(5):hover{
    background-position: -115px -168px;
}

#right_menu > .group > .menu_button:nth-of-type(6){
    background:url(../images/menu_main.png) 0 -210px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(6):hover{
    background-position: -115px -210px;
}

#right_menu > .group > .menu_button:nth-of-type(7){
    background:url(../images/menu_main.png) 0 -252px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(7):hover{
    background-position: -115px -252px;
}

#right_menu > .group > .menu_button:nth-of-type(8){
    background:url(../images/menu_main.png) 0 -294px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(8):hover{
    background-position: -115px -294px;
}

#right_menu > .group > .menu_button:nth-of-type(9){
    background:url(../images/menu_main.png) 0 -336px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(9):hover{
    background-position: -115px -336px;
}

#right_menu > .group > .menu_button:nth-of-type(10){
    background:url(../images/menu_main.png) 0 -378px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(10):hover{
    background-position: -115px -378px;
}

#right_menu > .group > .menu_button:nth-of-type(12){
    background:url(../images/menu_main.png) 0 -420px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(12):hover{
    background-position: -115px -420px;
}

#right_menu > .group > .menu_button:nth-of-type(11){
    background:url(../images/menu_main.png) 0 -462px no-repeat;
}
#right_menu > .group > .menu_button:nth-of-type(11):hover{
    background-position: -115px -462px;
}

.mobile_menu_trigger{
    display: none;
}

@media (max-width: 1200px)
{
    .mobile_menu_trigger{
        display: block;
        background: url(../images/mobile_menu_btn.png);
        background-size: cover;
        width: 68px;
        height: 50px;
        position: fixed;
        top:8px;
        right:8px;
        cursor: pointer;
        z-index: 99;
    }
    #right_menu{
        background: #000;
        width: 280px;
    }
    #right_menu > .group{
        position: absolute;
        right:0;
        width: 240px;
        top:50%;
        margin-top: -418px;
    }

    #right_menu > .group > .menu_button{
        position: relative;
        float: left;
        width: 240px;
        height:76px;
        margin-top: 0;
        margin-bottom: 0;

        /*
        background:#333;
        border-top: #555 1px solid;
        border-bottom: #111 1px solid;
        */
        cursor: pointer;
    }


    #right_menu > .group > .menu_button:nth-of-type(1){
        background:url(../images/mobile_menu_main.png) 0 0 no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(1):hover{
        background:url(../images/mobile_menu_main.png) -245px 0 no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(2){
        background:url(../images/mobile_menu_main.png) 0 -90px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(2):hover{
        background:url(../images/mobile_menu_main.png) -245px -90px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(3){
        background:url(../images/mobile_menu_main.png) 0 -180px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(3):hover{
        background:url(../images/mobile_menu_main.png) -245px -180px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(4){
        background:url(../images/mobile_menu_main.png) 0 -270px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(4):hover{
        background:url(../images/mobile_menu_main.png) -245px -270px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(5){
        background:url(../images/mobile_menu_main.png) 0 -360px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(5):hover{
        background:url(../images/mobile_menu_main.png) -245px -360px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(6){
        background:url(../images/mobile_menu_main.png) 0 -450px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(6):hover{
        background:url(../images/mobile_menu_main.png) -245px -450px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(7){
        background:url(../images/mobile_menu_main.png) 0 -540px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(7):hover{
        background:url(../images/mobile_menu_main.png) -245px -540px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(8){
        background:url(../images/mobile_menu_main.png) 0 -630px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(8):hover{
        background:url(../images/mobile_menu_main.png) -245px -630px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(9){
        background:url(../images/mobile_menu_main.png) 0 -720px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(9):hover{
        background:url(../images/mobile_menu_main.png) -245px -720px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(10){
        background:url(../images/mobile_menu_main.png) 0 -810px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(10):hover{
        background:url(../images/mobile_menu_main.png) -245px -810px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(12){
        background:url(../images/mobile_menu_main.png) 0 -900px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(12):hover{
        background:url(../images/mobile_menu_main.png) -245px -900px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(11){
        background:url(../images/mobile_menu_main.png) 0 -990px no-repeat;
    }

    #right_menu > .group > .menu_button:nth-of-type(11):hover{
        background:url(../images/mobile_menu_main.png) -245px -990px no-repeat;
    }
    
    @media (max-height: 860px) {
        #right_menu{
            background: #000;
            width: 520px;
        }
        #right_menu > .group{
            position: absolute;
            right:0;
            width: 480px;
            top:50%;
            margin-top: -209px;
        }
        
    }
}



/** index **/
#index_fix_block{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
#index_fix_block > .left_block_0{
    position: absolute;
    width:50%;
    height: 100%;
    /*background: url(../images/index_left_0.jpg) bottom center;*/
    /*background-size: cover;*/
    z-index: 0;
    bottom: 0;
    overflow: hidden;
}
#index_fix_block > .left_block_1{
    position: absolute;
    width:50%;
    height: 100%;
    /*background: url(../images/index_left_1.jpg) bottom center;*/
    /*background-size: cover;*/
    z-index: 1;
    bottom: 0;
    overflow: hidden;
}
#index_fix_block .right_block_0 {
    position: absolute;
    width:50%;
    height: 100%;
    left: 50%;
    /*background: url(../images/index_right_0.jpg) top center;*/
    /*background-size: cover;*/
    z-index: 0;
    top: 0;
    overflow: hidden;
}
#index_fix_block .right_block_1 {
    position: absolute;
    width:50%;
    height: 100%;
    left: 50%;
    /*background: url(../images/index_right_1.jpg) top center;*/
    /*background-size: cover;*/
    z-index: 1;
    top:0;
    overflow: hidden;
}
#index_fix_block img{
    position: absolute;
}

#index_fix_block .index_image{
    position: absolute;
}
.left_block_0 > .index_image{
    background:url(../images/index_left_0.jpg);
    background-size: 100% 100%;
}
.left_block_1 > .index_image{
    background:url(../images/index_left_1.jpg);
    background-size: 100% 100%;

}
.right_block_0 > .index_image{
    background:url(../images/index_right_0.jpg);
    background-size: 100% 100%;

}
.right_block_1 > .index_image{
    background:url(../images/index_right_1.jpg);
    background-size: 100% 100%;
}

#index_block{
    /*background: rgba(55,0,0,.5);*/
}
#index_block > .index_text{
    position: absolute;
    left: 50%;
    top:50%;
    width: 400px;
    height:116px;
    background: url(../images/index_text_0.png);
    margin-left: -200px;
    margin-top: -58px;
}

#index_block > .index_share_btn{
    position: absolute;
    right:120px;
    bottom: 20px;
    background: url(../images/index_c4a.png) 0 0 no-repeat;
    width: 231px;
    height: 115px;
    cursor: pointer;
}

#index_block > .index_share_btn:hover{
    background-position: 0 -120px;
}
#index_block > .index_share_btn:hover:active{
    bottom:29px;
}

@media (max-width: 720px)
{
    #index_fix_block > .left_block_0{
        width:100%;
        height: 50%;
        bottom:50%;
    }
    #index_fix_block > .left_block_1{
        width:100%;
        height: 50%;
        bottom:50%;
    }
    #index_fix_block .right_block_0 {
        width:100%;
        height: 50%;
        top:50%;
        left:auto;
        right:0;
    }
    #index_fix_block .right_block_1 {
        width:100%;
        height: 50%;
        top:50%;
        left:auto;
        right:0;
    }
    .left_block_0 > .index_image{
        background:url(../images/index_left_0_m.jpg);
        background-size: 100% 100%;
    }
    .left_block_1 > .index_image{
        background:url(../images/index_left_1_m.jpg);
        background-size: 100% 100%;

    }
    .right_block_0 > .index_image{
        background:url(../images/index_right_0_m.jpg);
        background-size: 100% 100%;

    }
    .right_block_1 > .index_image{
        background:url(../images/index_right_1_m.jpg);
        background-size: 100% 100%;
    }
}

@media (max-width: 1200px)
{
    #index_block > .index_share_btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: url(../images/index_c4a.png) 0 0 no-repeat;
        width: 231px;
        height: 115px;
        cursor: pointer;
    }

}


/** brand **/
#brand_block{
    background: #000;
    /*height: 1200px;*/
    height: 100%;
    min-height: 960px;
}
#brand_block > .brand{
    position: absolute;
    background: url(../images/brand.jpg);
    width: 1700px;
    height: 1200px;
    left:50%;
    margin-left: -850px;
    top:50%;
    margin-top: -470px;
}


@media (max-width: 1200px)
{
    #brand_block{
        /*height: 1200px;*/
        /*height: 0;*/
        /*padding-top:385.1666%;*/
        min-height: 0;
        height: auto;
    }
    #brand_block > .brand{
        background: url(../images/brand_1200.jpg) no-repeat;
        width: 100%;
        /*height: 4622px;*/
        background-size: contain;
        height: 0;
        padding-top:416.66%;
        left:0;
        margin-left: 0;
        top:0;
        margin-top: 0;
        position: relative;
    }

}


@media (max-width: 720px)
{
    #brand_block > .brand{
        background: url(../images/brand_720.jpg) no-repeat;
        background-size: contain;
    }

}

/** atw **/
#atw_block{
    background: #000;
    /*height: 1149px;*/
    height: 1249px;
}
#atw_block > .atw{
    position: absolute;
    background: url(../images/ATW.jpg);
    width: 1700px;
    height: 736px;
    left:50%;
    margin-left: -850px;
    top:380px;
}


@media (max-width: 1200px)
{
    #atw_block{
        /*height:auto;*/
        /*overflow: auto;*/
        height: 0;
        padding-top: 410%;
    }
    #atw_block > .atw{
        /*position: relative;*/
        background: url(../images/ATW_1200.jpg) no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
        /*height: 0;*/
        /*padding-top: 341.66%;*/
        left:0;

        margin-left: 0;
    }

}

@media (max-width: 720px)
{
    #atw_block > .atw{
        background: url(../images/ATW_720.jpg) no-repeat;
        background-size: contain;
        /*padding-top: 347.22%;*/
    }

}




/** feature **/
#feature_block{
    background: rgba(0,0,55,1);
}
#feature_block > .feature_block{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
#feature_block > .feature_block:nth-of-type(1){
    background: url(../images/product_01.jpg) center center;
    background-size: cover;
    visibility: visible;
}
#feature_block > .feature_block:nth-of-type(2){
    background: url(../images/product_02.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(3){
    background: url(../images/product_03.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(4){
    background: url(../images/product_04.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(5){
    background: url(../images/product_05.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(6){
    background: url(../images/product_06.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(7){
    background: url(../images/product_07.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(8){
    background: url(../images/product_08.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(9){
    background: url(../images/product_09.jpg) center center;
    background-size: cover;
}
#feature_block > .feature_block:nth-of-type(10){
    background: url(../images/product_10.jpg) center center;
    background-size: cover;
}

.feature_menu{
    position: absolute;
    left:50%;
    margin-left: -225px;
    bottom: 25px;
}
.feature_btn{
    position: relative;
    width: 39px;
    height: 37px;
    float: left;
    /*
    background: #aaa;
    border: 1px solid #fff;
    */
    margin-right: 7px;
    cursor: pointer;

    background:url(../images/product_menu_all.png) no-repeat;
}


@media (max-width: 1200px)
{
    #feature_block{
        /*background: url(../images/product_1200.jpg);*/
        /*background-size: contain;*/
        /*height:0;*/
        /*padding-top:1889.5%;*/
        height: auto;
    }
    #feature_block .feature_menu{
        display: none;
    }

    #feature_block > .feature_block{

        position: relative;
        float: left;
        width: 100%;
        height: 0;
    }

    #feature_block > .feature_block:nth-of-type(1){
        background: url(../images/product01_1200.jpg) no-repeat;
        background-size: contain;
        padding-top:262.08%;
    }
    #feature_block > .feature_block:nth-of-type(2){
        background: url(../images/product02_1200.jpg) center center;
        background-size: contain;
        padding-top:257.33%;
    }
    #feature_block > .feature_block:nth-of-type(3){
        background: url(../images/product03_1200.jpg) center center;
        background-size: contain;
        padding-top:182.5%;
    }
    #feature_block > .feature_block:nth-of-type(4){
        background: url(../images/product04_1200.jpg) center center;
        background-size: contain;
        padding-top:169.58%;
    }
    #feature_block > .feature_block:nth-of-type(5){
        background: url(../images/product05_1200.jpg) center center;
        background-size: contain;
        padding-top:154.58%;
    }
    #feature_block > .feature_block:nth-of-type(6){
        background: url(../images/product06_1200.jpg) center center;
        background-size: contain;
        padding-top:163.66%;
    }
    #feature_block > .feature_block:nth-of-type(7){
        background: url(../images/product07_1200.jpg) center center;
        background-size: contain;
        padding-top:159.83%;
    }
    #feature_block > .feature_block:nth-of-type(8){
        background: url(../images/product08_1200.jpg) center center;
        background-size: contain;
        padding-top:148.25%;
    }
    #feature_block > .feature_block:nth-of-type(9){
        background: url(../images/product09_1200.jpg) center center;
        background-size: contain;
        padding-top:170.91%;
    }
    #feature_block > .feature_block:nth-of-type(10){
        background: url(../images/product10_1200.jpg) center center;
        background-size: contain;
        padding-top:164.75%;
    }
}


@media (max-width: 720px)
{
    #feature_block > .feature_block:nth-of-type(1){
        background: url(../images/product01_720.jpg) no-repeat;
        background-size: contain;
    }
    #feature_block > .feature_block:nth-of-type(2){
        background: url(../images/product02_720.jpg) center center;
        background-size: contain;
    }
    #feature_block > .feature_block:nth-of-type(3){
        background: url(../images/product03_720.jpg) center center;
        background-size: contain;
    }
    #feature_block > .feature_block:nth-of-type(4){
        background: url(../images/product04_720.jpg) center center;
        background-size: contain;
    }
    #feature_block > .feature_block:nth-of-type(5){
        background: url(../images/product05_720.jpg) center center;
        background-size: contain;
    }
    #feature_block > .feature_block:nth-of-type(6){
        background: url(../images/product06_720.jpg) center center;
        background-size: contain;
    }
    #feature_block > .feature_block:nth-of-type(7){
        background: url(../images/product07_720.jpg) center center;
        background-size: contain;
    }
    #feature_block > .feature_block:nth-of-type(8){
        background: url(../images/product08_720.jpg) center center;
        background-size: contain;
    }
    #feature_block > .feature_block:nth-of-type(9){
        background: url(../images/product09_720.jpg) center center;
        background-size: contain;
    }
    #feature_block > .feature_block:nth-of-type(10){
        background: url(../images/product10_720.jpg) center center;
        background-size: contain;
    }
}

/*
.feature_btn.focused{
    border: 1px solid #000;
}
*/
.feature_btn:nth-of-type(1){
    background-position: 0 0;
}
.feature_btn:nth-of-type(1):hover, .feature_btn:nth-of-type(1).focused{
    background-position: 0 -46px;
}

.feature_btn:nth-of-type(2){
    background-position: -44px 0;
}
.feature_btn:nth-of-type(2):hover, .feature_btn:nth-of-type(2).focused{
    background-position: -44px -46px;
}

.feature_btn:nth-of-type(3){
    background-position: -88px 0;
}
.feature_btn:nth-of-type(3):hover, .feature_btn:nth-of-type(3).focused{
    background-position: -88px -46px;
}

.feature_btn:nth-of-type(4){
    background-position: -132px 0;
}
.feature_btn:nth-of-type(4):hover, .feature_btn:nth-of-type(4).focused{
    background-position: -132px -46px;
}

.feature_btn:nth-of-type(5){
    background-position: -176px 0;
}
.feature_btn:nth-of-type(5):hover, .feature_btn:nth-of-type(5).focused{
    background-position: -176px -46px;
}

.feature_btn:nth-of-type(6){
    background-position: -220px 0;
}
.feature_btn:nth-of-type(6):hover, .feature_btn:nth-of-type(6).focused{
    background-position: -220px -46px;
}

.feature_btn:nth-of-type(7){
    background-position: -264px 0;
}
.feature_btn:nth-of-type(7):hover, .feature_btn:nth-of-type(7).focused{
    background-position: -264px -46px;
}

.feature_btn:nth-of-type(8){
    background-position: -308px 0;
}
.feature_btn:nth-of-type(8):hover, .feature_btn:nth-of-type(8).focused{
    background-position: -308px -46px;
}

.feature_btn:nth-of-type(9){
    background-position: -352px 0;
}
.feature_btn:nth-of-type(9):hover, .feature_btn:nth-of-type(9).focused{
    background-position: -352px -46px;
}

.feature_btn:nth-of-type(10){
    background-position: -396px 0;
}
.feature_btn:nth-of-type(10):hover, .feature_btn:nth-of-type(10).focused{
    background-position: -396px -46px;
}

/** spec **/
#spec_block{
    background: url(../images/spec.jpg) center center;
    background-size: cover;
    /*
    width: 2400px;
    height: 1300px;
    left:50%;
    top:50%;
    margin-left: -1200px;
    margin-top: -650px;
    */
    width: 100%;
    height: 100%;
}
.spec_content{
    position: absolute;
    background: url(../images/spec_table.png);
    width: 785px;
    height: 356px;
    top:50%;
    left:50%;
    margin-left: -392px;
    margin-top: -178px;
}


@media (max-width: 1200px)
{
    #spec_block {
        background: url(../images/spec_1200.jpg) center center;
        background-size: cover;
    }

    .spec_content{
        background: url(../images/spec_table_1200.png);
        background-size: cover;
        width: 1200px;
        height: 1973px;
        top:50%;
        left:50%;
        margin-left: -392px;
        margin-top: -178px;
    }
}


@media (max-width: 720px)
{
    #spec_block {
        background: url(../images/spec_720.jpg) center center;
        background-size: cover;
    }

    .spec_content{
        background: url(../images/spec_table_720.png);
        background-size: cover;
        width: 720px;
        height: 1184px;
        top:50%;
        left:50%;
        margin-left: -360px;
        margin-top: -592px;
    }
}

/** color **/
#color_block{
    background: #000;
}
.color_title_white{
    position: absolute;
    background: url(../images/color_t02.png);
    width: 258px;
    height: 52px;
    bottom: 100px;
    left:50%;
    z-index: 1;
}
.color_title_black{
    position: absolute;
    background: url(../images/color_t01.png);
    width: 258px;
    height: 52px;
    bottom: 100px;
    right:50%;
    z-index: 1;

}
.color_white_shadow{
    position: absolute;
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,.2)); /* Standard syntax (must be last) */
    height: 100%;
    width: 0;
    right:500px;
    z-index: 11;
}
.color_black_shadow{
    position: absolute;
    background: linear-gradient(to right, rgba(255,255,255,.2), rgba(255,255,255,0)); /* Standard syntax (must be last) */
    height: 100%;
    width: 0;
    left:500px;
    z-index: 11;
}
.color_title{
    position: absolute;
    z-index: 12;
    /*
    background: url(../images/color_tit.png);
    background-size: cover;
    */
    width: 587px;
    height: 81px;
    top:50%;
    margin-top: -280px;
    left: 30px;
}
.moto_white{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    overflow: hidden;
    /*background: #eee;*/
}
.moto_white > img{
    position: absolute;
}
.moto_black{
    position: absolute;
    width: 100%;
    height: 100%;
    right:0;
    overflow: hidden;
    /*background: #222;*/
}
.moto_black > img{
    position: absolute;
}

.moto_black .moto_image{
    position: absolute;
    background: url(../images/color_black.jpg);
    background-size: cover;
    height: 100%;
}

.moto_white .moto_image{
    position: absolute;
    background: url(../images/color_white.jpg);
    background-size: cover;
    height: 100%;
}

@media (max-width: 1200px)
{

    .moto_black .moto_image{
        background: url(../images/color_black_1200.png);
        background-size: cover;
        height: 100%;
    }

    .moto_white .moto_image{
        position: absolute;
        background: url(../images/color_white_1200.png);
        background-size: cover;
        height: 100%;
    }
    .color_title, .color_title_white, .color_title_black{
        display: none;
    }

}

@media (max-width: 720px)
{

    .moto_black .moto_image{
        background: url(../images/color_black_720.png);
        background-size: cover;
    }

    .moto_white .moto_image{
        background: url(../images/color_white_720.png);
        background-size: cover;
    }
    .color_title, .color_title_white, .color_title_black{
        display: none;
    }

}

/** watch **/
#watch_block{
    background: #000;
}
.watch_right_cover{
    position: absolute;
    right:0;
    width:112px;
    background:rgba(0,0,0,.5);
    z-index: 5;
    height: 100%;
}
.watch_title{
    position: absolute;
    top:50%;
    left:100px;
    margin-top: -250px;
    width: 587px;
    height: 84px;
    z-index: 10;
}
.watch_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.watch_content:nth-of-type(1){
    background: url(../images/360_01.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(2){
    background: url(../images/360_02.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(3){
    background: url(../images/360_03.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(4){
    background: url(../images/360_04.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(5){
    background: url(../images/360_05.jpg) center center;
    background-size: cover;
}
.watch_content:nth-of-type(6){
    background: url(../images/360_06.jpg) center center;
    background-size: cover;
}
@media(max-width: 1200px)
{
    .watch_right_cover{
        display: none;
    }
}
@media(max-width: 1200px)
{
    #watch_block{
        background: #fff;
    }

    .watch_title{
        display: none;
    }

    .watch_content:nth-of-type(1){
        background: url(../images/360_01_1200.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(2){
        background: url(../images/360_02_1200.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(3){
        background: url(../images/360_03_1200.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(4){
        background: url(../images/360_04_1200.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(5){
        background: url(../images/360_05_1200.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(6){
        background: url(../images/360_06_1200.png) center center;
        background-size: cover;
    }
}


@media(max-width: 720px)
{
    .watch_content:nth-of-type(1){
        background: url(../images/360_01_720.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(2){
        background: url(../images/360_02_720.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(3){
        background: url(../images/360_03_720.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(4){
        background: url(../images/360_04_720.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(5){
        background: url(../images/360_05_720.png) center center;
        background-size: cover;
    }
    .watch_content:nth-of-type(6){
        background: url(../images/360_06_720.png) center center;
        background-size: cover;
    }
}

/** info **/
#info_block{
    background: #000;
    height: 100%;
    min-height: 3950px;
}
.info_wrapper{
    position: absolute;
    width: 100%;
    /*top:50%;*/
    /*margin-top: -350px;*/
    top:0;
}
.info_image_1{
    position: absolute;
    background: url(../images/info_image_1.jpg);
    width: 1200px;
    height: 424px;
    left:50%;
    top:10px;
    margin-left: -600px;
}
.info_image_2{
    position: absolute;
    background: url(../images/info_image_2.png);
    width: 154px;
    height: 54px;
    left:50%;
    top:420px;
    margin-left: -481px;

}
.info_table{
    position: absolute;
    width: 757px;
    height: auto;
    /*background-color: #f00;*/
    top:426px;
    left:50%;
    margin-left: -300px;
}
.info_city_block, .info_1, .info_2, .info_3{
    position: relative;
    float: left;
    height:38px;
    margin-top: 3px;

    font-family: '微軟正黑體', "Heiti TC", serif;
    font-size: 14px;
    /*font-weight: bold;*/
    letter-spacing: 2px;
    line-height: 36px;
    color:#eee;

}
.info_1, .info_2, .info_3{
    background: #1b1b1b;
    text-align: left;
    text-indent: 30px;

}
.info_city_block{
    width: 100%;
    background: #313131;
    text-align: center;
}
.info_1{
    width: 195px;
}
.info_2{
    width: 195px;
    margin-left: 3px;

}
.info_3{
    width: 361px;
    margin-left: 3px;
}

@media(max-width: 720px)
{
    #info_block{
        height: 100%;
        min-height: 9400px;
    }
    .info_wrapper{
        position: relative;
        top:0;
        margin-top: 0;
        height: auto;
    }

    .info_image_1{
        position: relative;
        /*background: url(../images/info_image_1_1200.jpg);*/
        /*background-size: contain;*/
        background: url(../images/info_image_1_720.jpg);
        background-size: contain;
        width: 100%;
        height: 0;
        /*padding-top: 241.66%;*/
        padding-top: 122.36%;
        left:0;
        top:0;
        margin-left: 0;
    }
    .info_image_2{
        background: none;
        display: none;

    }
    .info_table{
        /*display: none;*/
        left:0;
        width: 720px;
        margin-left: 0;
        top:900px;
    }


    .info_city_block, .info_1, .info_2, .info_3{
        height:48px;

        font-family: '微軟正黑體', "Heiti TC", serif;
        font-size: 20px;
        /*font-weight: bold;*/
        letter-spacing: 2px;
        line-height: 46px;
        color:#eee;

    }

    .info_1, .info_2, .info_3{
        text-indent: 60px;

    }

    .info_city_block{
        margin-top: 10px;
    }
    .info_1{
        margin-top: 10px;
        margin-left: 8px;
        width: 350px;
    }
    .info_2{
        margin-top: 10px;
        margin-left: 4px;
        width: 350px;

    }
    .info_3{
        margin-left: 8px;
        width: 704px;

    }
}

/*@media(max-width: 720px)*/
/*{*/

    /*.info_image_1{*/
        /*background: url(../images/info_image_1_720.jpg);*/
        /*background-size: contain;*/
    /*}*/
/*}*/


/** CF **/
#cf_block{
    background: #000;
}


/** sign **/
#sign_block{
    background: #000;
}
.form_container{
    position: absolute;
    z-index: 11;
    top:50%;
    left:50%;
    width: 600px;
    height: 886px;
    margin-left: -300px;
    margin-top:-433px;
    /*border: 1px #777 solid;*/
}
.sign_title{
    position: absolute;
    background: url(../images/sign_title.png);
    width: 533px;
    height: 45px;
    top:35px;
    left:50%;
    margin-left:-266px;
}
.sign_event_end{
    z-index: 2;
    position: absolute;
    background: url(../images/sign_event_end.png);
    width: 617px;
    height: 180px;
    top:200px;
    left:50%;
    margin-left: -308px;
}
.sign_main_text{
    position: absolute;
    left:50%;
    background:url(../images/sign_main_text.png);
    width: 578px;
    height: 650px;
    top:110px;
    margin-left: -289px;
}
.sign_btn_send{
    position: absolute;
    background: url(../images/sign_btn_send.png) 0 75px;
    width: 187px;
    height: 75px;
    bottom:30px;
    left:50%;
    margin-left: -93px;
    cursor: pointer;
}
.sign_btn_send:hover{
    background-position: 0 0;
}
.sign_btn_send:active{
    margin-bottom: -1px;
}
.sign_shadow{
    position: absolute;
    background:url(../images/sign_shadow.png) no-repeat;
    width:100%;
    height: 217px;
    bottom: 0;
    background-size: 100% 217px;
}
.sign_moto{
    position: absolute;
    background: url(../images/sign_moto.png);
    width: 262px;
    height: 272px;

    bottom:30px;
    left:50%;
    margin-left: 270px;
}

/* fields */
.input_style{
    width: 150px;
    height: 18px;
    background:rgba(255, 255, 255, .15);
    border: none;
    font-family: '微軟正黑體', "Heiti TC", serif;
    font-size: 12px;
    color: #ffffff;
}
.form_input_select{
    height: 20px;
    width: 79px;
    padding-left: 8px;
    border: none;
    /*background-color: rgba(255, 255, 255, .15);*/

    /* Standard syntax (must be last) */
    background: #000 linear-gradient(#444, #222);

    cursor: pointer;

    color:#999;
}
#sign_field_name{
    position: absolute;
    top:210px;
    left:50px;
    width: 92px;
}
#sign_field_pid{
    position: absolute;
    top:210px;
    left:245px;
    width: 123px;
}
#sign_field_phone{
    position: absolute;
    top:244px;
    left:83px;
    width: 180px;
}
#sign_field_email{
    position: absolute;
    top:244px;
    left:342px;
    width: 245px;
}
#sign_field_year{
    position: absolute;
    top:210px;
    left:425px;
    width: 63px;
}
#sign_field_month{
    position: absolute;
    top:210px;
    left:490px;
    width: 48px;
}
#sign_field_day{
    position: absolute;
    top:210px;
    left:540px;
    width: 48px;
}
#sign_field_event{
    position: absolute;
    top:278px;
    left:83px;
    width: 200px;
}
#sign_field_time{
    position: absolute;
    top:278px;
    left:373px;
    width: 130px;
}
#sign_licence_yes{
    position: absolute;
    top:298px;
    left:187px;
    width: 130px;
}
#sign_licence_no{
    position: absolute;
    top:298px;
    left:228px;
    width: 130px;
}
#sign_friend_yes{
    position: absolute;
    top:347px;
    left:136px;
    width: 130px;
}
#sign_friend_no{
    position: absolute;
    top:347px;
    left:177px;
    width: 130px;
}
.sign_more_text{
    position: absolute;
    background: url(../images/sign_more_text.png);
    width: 152px;
    height: 13px;
    top:362px;
    left:230px;

    display: none;
}
#sign_field_type{
    position: absolute;
    top:359px;
    left:394px;
    width: 120px;

    display: none;
}

@media (max-width: 720px)
{
    #sign_block{
        background: #000;
        height: 5470px;
    }

    .sign_event_end{
        display: none;
    }
    .form_container{
        position: absolute;
        z-index: 11;
        top:0;
        left:0;
        width: 720px;
        height: 100%;
        margin-left: 0;
        margin-top:0;
        /*border: 1px #777 solid;*/
    }
    .sign_title{
        display: none;
        background: none;
    }
    .sign_main_text{
        position: absolute;
        left:0;
        background:url(../images/sign_main_text_720.png);
        width: 720px;
        /*height: 3512px;*/
        height: 5300px;
        top:0;
        margin-left: 0;
    }
    .sign_shadow{
        background: none;
        display: none;
    }
    .sign_moto{
        background: none;
        display: none;
    }
    #sign_block input{
        height: 42px;
    }
    #sign_block input{
        font-size: 24px;
    }
    #sign_field_name{
        top: 668px;
        left: 180px;
        width: 470px;
        height: 42px;
    }
    #sign_field_pid{
        top: 758px;
        left: 300px;
        width: 350px;
    }
    #sign_field_phone{
        top: 942px;
        left: 260px;
        width: 390px;
    }

    #sign_block select{
        height: 42px;
        font-size: 20px;
    }

    #sign_field_year{
        top: 850px;
        left: 180px;
        width: 182px;
    }

    #sign_field_month{
        top: 850px;
        left: 366px;
        width: 140px;
    }

    #sign_field_day{
        top: 850px;
        left: 510px;
        width: 140px;
    }
    #sign_field_email{
        top: 1032px;
        left: 260px;
        width: 390px;
    }
    #sign_field_event{
        top: 1126px;
        left: 260px;
        width: 390px;
    }
    #sign_field_time{
        top: 1216px;
        left: 260px;
        width: 390px;
    }
    .squaredFour{

        width:30px;
        margin: 30px auto;
    }

    .squaredFour label{
        width:30px;
        height:30px;
    }

    .squaredFour label:after{
        width:12px;
        height:10px;
        left:8px;
        top:6px;
    }
    #sign_licence_yes{
        top:1367px;
        left:220px;
    }
    #sign_licence_no{
        top:1367px;
        left:424px;
    }
    #sign_friend_yes{
        top:1790px;
        left:220px;

    }
    #sign_friend_no{
        top:1790px;
        left:424px;
    }

    .sign_more_text{
        background: url(../images/sign_more_text_720.png);
        width: 425px;
        height: 38px;
        top:1890px;
        left:50px;
    }
    #sign_field_type{

        top:1890px;
        width:150px;
        left:520px;
    }

    .sign_btn_send{
        bottom:50px;
        background: url(../images/btn_send_large.png);
        width: 347px;
        height: 103px;
        margin-left: -173px;
    }
    .sign_btn_send:hover{
        background-position: 0 0;
    }
    .sign_btn_send:active{
        bottom:50px;
    }
}


/** share **/
#share_block{
    /*background:#333;*/
    height: 100%;
    background: url(../images/share_bg.jpg) 100% center;
    background-size: cover;
    overflow: hidden;

    font-family: '微軟正黑體', "Heiti TC", serif;
    font-size: 14px;
    color: #ffffff;

}
#share_block > .bg_left{
    position: absolute;
    left:0;
    top:0;
    background:url(../images/share_bg_l.png) no-repeat 0 0;
    width: 558px;
    height:100%;
    background-size: contain;
}
#share_block > .bg_right{
    position: absolute;
    right:0;
    top:0;
    background:url(../images/share_bg_r.png) no-repeat 100% 0;
    width: 700px;
    height:100%;
    background-size: contain;
}
.share_group{
    position: absolute;
    top:50%;
    left:50%;
    height:280px;
    margin-top: -180px;

}
.share_title{
    position: absolute;
    top:0;
    background:url(../images/share_tit.png);
    width: 533px;
    height: 151px;
    left:-266px;
}
.share_btn_start{
    position: absolute;
    background: url(../images/share_btn_send.png) 0 75px;
    width: 187px;
    height: 75px;
    bottom:30px;
    left:50%;
    margin-left: -93px;
    cursor: pointer;
}
.share_btn_start:hover{
    background-position: 0 0;
}
.share_btn_start:active{
    margin-bottom: -1px;
}
.share_btn_start.formMode{
    background: url(../images/sign_btn_send.png) 0 75px;
}
.share_btn_start.formMode:hover{
    background-position: 0 0;
}
.share_btn_start.formMode:active{
    margin-bottom: -1px;
}
.share_form_container{
    position: absolute;
    top:160px;
    width:460px;
    height:150px;
    margin-left: -220px;
    overflow: hidden;

    color:#ccc;

    display:none;
}
.share_form{
    position: absolute;
    top:30px;
    width:100%;
}
#share_block label{
    font-size: 16px;
    letter-spacing: 4px;
}
#share_block input{
    height: 24px;
}
label[for="share_field_name"]{
    width: 50px;
    float: left;
}
#share_field_name{
    width: 160px;
    float: left;

}
label[for="share_field_phone"]{
    width: 50px;
    float: left;
    margin-left: 10px;
}
#share_field_phone{
    width:180px;
    float: left;

}
label[for="share_field_address"]{
    margin-top: 14px;
    width: 50px;
    float: left;
}
#share_field_county{
    margin-top: 14px;
    width:80px;
    float: left;
    height:25px;
}
#share_field_zone{
    margin-top: 14px;
    width:80px;
    float: left;
    margin-left: 10px;
    height:25px;
}
#share_field_address{
    margin-top: 14px;
    width:222px;
    float: left;
    margin-left: 10px;
}
#share_rule_check_container{
    float: left;
    margin-left: 22px;
    margin-top: 19px;
    position: relative;
}
.share_rulecheck_text{
    float: left;
    margin-top: 14px;
    margin-left: 11px;
    font-size: 16px;
}
.share_rulecheck_text span{
    text-decoration: underline;
    cursor: pointer;
}

#share_rule_block{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);

    z-index: 8000;

    display:none;
}
.share_rule{
    position: fixed;
    top:50%;
    left:50%;
    width:800px;
    height:auto;

    margin-left: -420px;
    margin-top: -300px;

    border: 1px solid rgba(255,255,255,.2);

    font-family: '微軟正黑體', "Heiti TC", serif;
    font-size: 14px;
    color: #ccc;
    padding: 20px;
}
.share_rule_wrapper{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: auto;
}
.share_btn_close{
    position: absolute;
    z-index: 1;
    right:10px;
    top:10px;
    background: url(../images/btn_close.png) 0 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.share_btn_close:hover{
    background-position: 0 -50px;
}
.share_btn_close:active{
    top:11px;
}
.share_line_number{
    list-style-type: decimal;
    line-height: 24px;
}
.share_line_disc{
    list-style-type: disc;
    line-height: 24px;
}


@media(max-width: 720px)
{
    #share_block{
        /*height: 100%;*/
        /*background: url(../images/share_bg.jpg) 100% center;*/
        /*background-size: cover;*/
        /*overflow: hidden;*/

        /*font-family: '微軟正黑體', "Heiti TC", serif;*/
        /*font-size: 14px;*/
        /*color: #ffffff;*/
        background: #000;

    }
    #share_block > .bg_left{
        display: none;
        background: none;
    }
    #share_block > .bg_right{
        display: none;
        background: none;
    }

    .share_title{
        /*
        position: absolute;
        top:0;
        background:url(../images/share_tit.png);
        width: 533px;
        height: 151px;
        left:-266px;
        */
        background:url(../images/share_tit_720.png) no-repeat;
        background-size: contain;

        width: 720px;
        height: 441px;
        left:0;
        top:0;
        margin-left: 0;
        margin-top: 0;
    }
    .share_group{

        position: absolute;
        top:50%;
        left:0;
        height:500px;
        margin-top: -400px;
        width: 720px;
    }
    .share_form_container{
        width:720px;
        left:0;
        margin-left: 0;
        top:380px;
    }

    label[for="share_field_name"]{

        width: 90px;
        margin-left: 34px;
    }
    #share_field_name{
        width: 560px;
        left:100px;

    }
    label[for="share_field_phone"]{
        width: 90px;
        margin-left: 34px;
        margin-top: 10px;
    }
    #share_field_phone{
        width:560px;
        margin-top: 10px;

    }
    label[for="share_field_address"]{
        width: 90px;
        margin-left: 34px;
        margin-top: 10px;
    }
    #share_field_county{
        margin-top: 10px;
        width:200px;
        height:30px;
    }
    #share_field_zone{
        margin-top: 10px;
        width:200px;
        margin-left: 10px;
        height:30px;
    }
    #share_field_address{
        margin-top: 10px;
        width:560px;
        margin-left: 124px;
    }
    #share_block label{
        font-size: 20px;
    }
    #share_block input{
        height: 30px;
    }



    #share_rule_check_container{
        margin-left: 124px;
        margin-top: 19px;
    }
    .share_rulecheck_text{
        margin-top: 14px;
        margin-left: 11px;
        font-size: 20px;
    }
    .share_rulecheck_text span{
        text-decoration: underline;
        cursor: pointer;
    }

}





/** misc **/
.particle_0{
    position: fixed;
    z-index: 3001;
    background: url(../images/particle_0.png);
    width: 35px;
    height: 37px;
}
.particle_1{
    position: fixed;
    z-index: 3001;
    background: url(../images/particle_1.png);
    width: 34px;
    height: 35px;
}
.top_flash{
    position: fixed;
    top:0;
    left:0;
    height: 0;
    width: 100%;

    background: linear-gradient(to bottom, rgba(255,255,255,.2), rgba(255,255,255,.0)); /* Standard syntax (must be last) */

    z-index: 3000;

}
.bottom_flash{
    position: fixed;
    bottom:0;
    left:0;
    height: 0;
    width: 100%;

    background: linear-gradient(to top, rgba(255,255,255,.2), rgba(255,255,255,.0)); /* Standard syntax (must be last) */

    z-index: 3000;

}

